.hidden {
  display: none;
}

.cards {
  overflow-x: scroll;
  min-height: 300px;
  max-width: 100%;
}

.ui.grid > .row.cards-row {
  flex-wrap: nowrap;
  min-height: 100%;
}

.ui.grid {
  padding: 0px 20px;
}

.small-card,
.selected-card {
  width: 6rem;
  height: auto;
}

.small-card {
  margin: 0.1rem;
  margin-bottom: 1rem;
  /* z-index: 2; */
  /* transition: all ease-in-out 0.1s; */
  transform: translateZ(0);
}

.selected-card {
  margin: 0rem;
  border: 0.1em solid red;
  border-radius: 4%;
  position: relative;
  /* top: -2rem; */
  /* z-index: 1 ; */
  transform: translateY(-2rem);
}

.small-card.hand {
  cursor: pointer;
}

.header-container,
.game-log-container,
.hand-container,
.played-cards-container {
  border: 1px;
  border-color: black;
  border-bottom-style: solid;
  padding: 1vh;
}

.header-container {
  background-color: rgb(35, 35, 35);
}

.app-title {
  margin-top: 0.3rem;
  margin-bottom: 0.6rem;
}

.deal-button,
.rules-button,
.play-button,
.pass-button {
  margin-bottom: 0.7rem;
}

.deal-button,
.play-button {
  margin-right: 0.3rem;
}

.player-hand-title {
  margin-bottom: 2rem;
  color: hsl(34, 100%, 60%);
}
