.cards {
  overflow-x: scroll;
  min-height: 300px;
  max-width: 100%;
}

.ui.grid > .row.cards-row {
  flex-wrap: nowrap;
  min-height: 100%;
}

.ui.grid {
  padding: 0px 20px;
}

.small-card {
  width: 5rem;
  height: auto;
  margin: 0.4rem;
}

.small-card.hand {
  cursor: pointer;
}

.header-container,
.hand-container,
.played-cards-container {
  border: 1px;
  border-color: black;
  border-bottom-style: solid;
  padding: 1vh;
}

.selected-card {
  border-radius: 4%;
  border: 2px solid red;
}
